// CSS HOMEPAGE
// Ví dụ
.intro {
  padding-top: 55px;
  .container {
    text-align: center;
  }
  &__welcome {
    font-size: 14px;
    font-family: pnl;
    line-height: 22px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 85px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__name {
    position: relative;
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 15px;
    h1 {
      text-transform: uppercase;
      font-size: 22px;
      line-height: normal;
      letter-spacing: 4px;
      color: $gay-cl;
      font-family: pnb;
      z-index: 2;
      position: relative;
    }
    .bg {
      display: block;
      height: 15px;
      width: calc(100% - 4px);
      background: #ffde00;
      position: absolute;
      bottom: 50%;
      transform: translateY(44%);
      left: 0;
      z-index: 1;
      @include xs {
        height: calc(100% - 9px);
      }
    }
    @include xs {
      margin-bottom: 0;
    }
  }
  &__content {
    font-size: 12px;
    font-family: ar;
    line-height: 22px;
    letter-spacing: -0.25px;
    max-width: 755px;
    margin: 0 auto;
    span {
      text-transform: uppercase;
      font-family: ab;
    }
    @include xs {
      display: none;
    }
  }
  .linebf {
    max-width: 322px;
    height: 2px;
    background: #000;
    margin: 0 auto;
    margin-top: 55px;
    @include xs {
      display: none;
    }
  }
  @include xs {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}
.project {
  padding-top: 40px;
  padding-bottom: 70px;
  &__select {
    width: 162px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 20px;

    a {
      font-size: 12px;
      line-height: 30.48px;
      font-family: pnb;
      color: #898989;
      text-transform: uppercase;
      cursor: pointer;
      &.active {
        color: #000;
      }
      &:hover {
        color: $gay-cl;
      }
    }
    @include xs {
      display: none;
    }
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    &-item {
      .img {
        height: 190px;
        flex: 1;
        position: relative;
        padding-bottom: 64.6%;
        overflow: hidden;
        cursor: pointer;
        img {
          // @include mid;
          position: absolute;
          top: 50%;
          left: 50%;
          object-fit: cover;
          min-width: 100%;
          min-height: 100%;
          @include transform(translate(-50%, -50%) scale(1));
          @include transition($t);
        }
        &:hover {
          img {
            @include transform(translate(-50%, -50%) scale(1.08));
            @include transition($t);
          }
        }
      }
      .content {
        text-align: center;
        @include mid(1);
        flex-direction: column;
        padding: 40px 0;
        &__name {
          h2 {
            font-size: 12px;
            font-family: pnb;
            line-height: 30.48px;
            color: #000;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;
            &::after {
              content: "";
              width: 16px;
              height: 3px;
              background: $yelow-cl;
              display: block;
              margin: 0 auto;
              // position: absolute;
              // left: 50%;
              // transform: translateX(-50%);
            }
            &:hover {
              color: $yelow-cl;
            }
          }
        }
        &__text {
          width: 200px;
          font-size: 12px;
          font-family: pnr;
          color: #000;
          text-transform: capitalize;
          span {
            font-style: italic;
          }
          @include xs {
            @include overtext(2);
          }
        }
        @include xs {
          padding-top: 30px;
          padding-bottom: 40px;
        }
      }
    }

    @include xs {
      grid-template-columns: 1fr;
      gap: 0;
      &-item:nth-child(4),
      &-item:nth-child(5),
      &-item:nth-child(6) {
        display: none;
      }
      // grid-template-rows: 1fr 1fr 1fr;
    }
  }
  &__plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .allwork {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 30.48px;
      color: #000;
      font-family: pnb;
      cursor: pointer;
      @include xs {
        margin-bottom: 0;
      }
    }
    .arrow {
      margin-bottom: 0;
      img {
        width: 15px;
      }
    }
    @include xs {
      margin-top: 25px;
    }
  }
  @include xs {
    padding-top: 0;
    .container {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    padding-bottom: 30px;
  }
}
